{% block footer -%}
<footer class="footer">
  <div class="item">
    <div class="info">
      <address>地址: {{corporation.address}}</address>
      <address>电话: {{corporation.phone}} 邮箱: {{corporation.mail}}</address>
      <address>{{corporation.accreditation}}</address>
      <div>Copyright © 2019 <a href="/" target="_self">{{corporation.name}}</a>. All rights reserved.</div>
    </div>
  </div>
  <div class="item">
    <div class="info">
      {{corporation.banner}}
    </div>
  </div>
</footer>
{%- endblock %}
