<header class="nav-area">
  <a class="band" href="/">阳光评估</a>
  <!-- Navigation items that will be collapes and toggle in small viewports -->
  <ul class="nav-list" id="menu">
    <li class="nav-item" index="1">
      <a href="/news">咨询</a>
    </li>
    <li class="nav-item" index="2">
      <a href="/achievements">业绩</a>
    </li>
    <li class="nav-item" index="3">
      <a href="/aboutme">关于我们</a>
    </li>
  </ul>
</header>
<script>
  var activeMenuItem = function (index) {
    $('#menu li.nav-item').removeClass('active')
    $('#menu li.nav-item[index=' + index + ']').addClass('active')
  }
</script>
