<!DOCTYPE html>
<html>
<head>
{% include 'include/head.html' -%}
</head>
<body>
    {% include 'include/menu.html' -%}
    {#
        {% block banner -%}
        <div class="ui text container">
            <h1 class="ui inverted header">{{corporation.name}}</h1>
            <h2>{{corporation.banner}}</h2>
            <div class="ui huge primary button">去评估 <i class="right arrow icon"></i></div>
        </div>
        {%- endblock %}
        #}
    <div class="my-page">
    {% block main_body -%}
        <article class="card">
            <h3 class="card-header"><i class="newspaper outline icon"></i>房产最新咨询</h3>
            <section class="card-body">
            <p> 烟台市阳光房地产评估有限公司成立于2006年，现有注册资金贰佰壹拾万元，注册地址位于山东省烟台市福山区永安街27号（人民银行综合楼三层西）。</p>
            <p>
                公司具有烟台市住房和城乡建设局颁发的房地产评估机构贰级资质，公司共有在职员工15人，其中注册房地产估价师9人，土地估价师6人，咨询工程师1人，二级建造师1人，会计师4人，助理会计师1人。各位房地产估价师业务精湛，精通房地产管理法规，有丰富的专业知识，深谙本地房地产市场的特性，这支在实践中成长起来的优秀团队是我们为您提供多视角、全方位咨询意见的坚实基础。</p>
            <!--<p>   公司秉承“公正、公平、公开、诚信”的服务宗旨，按照“客观、真实、公正”的要求开展工作，恪守职业道德，始终自觉加强自律意识，以求真务实的评估价格，客观公正的评估结果，优质高效的评估服务，不断提升服务质量和职业水平。在房地产市场发展成熟的今天，公司将以客观求实的工作态度，严格执行公司的管理方略、质量要求、技术水准、服务意识，以规范化、专业化、科学化、透明化的服务，努力成为让客户满意、让社会放心的房地产评估机构。</p>-->
            </section>
            <section class="card-footer text-right">
                <a class="btn btn-outline-primary" href="#">阅读更多</a>
            </section>
        </article>
        <article class="card">
            <h3 class="card-header"><i class="industry icon"></i>行业动态</h3>
            <section class="card-body">
                <p>最高人民法院关于人民法院确定财产处置参考价若干问题的规定</p>
                <p>《最高人民法院关于人民法院确定财产处置参考价若干问题的规定》已于2018年6月4日由最高人民法院审判委员会第1741次会议通过，现予公布，自2018年9月1日起施行。
                    为公平、公正、高效确定财产处置参考价，维护当事人、利害关系人的合法权益，根据《中华人民共和国民事诉讼法》等法律规定，结合人民法院工作实际，制定本规定。</p>
            </section>
            <section class="card-footer text-right">
                <a class="btn btn-outline-primary" href="#">阅读更多</a>
            </section>
        </article>
        <article class="card">
            <h3 class="card-header"><i class="handshake icon"></i>合作机构</h3>
            <section class="card-body">
                <p>公司与工商银行、恒丰银行、华夏银行、建设银行、烟台农商银行、民生银行、渤海银行、光大银行、兴业银行、龙口农商银行、青岛农商银行、潍坊银行、浙商银行、德州银行等各商业银行开展业务合作、信息共享、互通有无。
                公司已入选山东法院委托评估、拍卖机构备案名录，入围烟台市中级人民法院、芝罘区人民法院、开发区人民法院、莱阳市人民法院、牟平区人民法院、高新区人民法院、莱山区人民法院、蓬莱市人民法院、栖霞市人民法院、长岛县人民法院等12家烟台基层法院。
                公司已入选烟台海洋产权交易中心司法询价机构库，省内外涉案标的均可询价。</p>
            </section>
            <section class="card-footer text-right">
                <a class="btn btn-outline-primary" href="#">I'm Still Quite Interested</a>
            </section>
        </article>
    {%- endblock %}
    </div>
    {% include 'include/footer.html' -%}
    {% block inline_script -%}
    <script>
        $(document).ready(function() {
            console.log('aaaa')
            //$('.dropdown-toggle').dropdown('toggle')
        })
    </script>
    {%- endblock %}
</body>

</html>